header {
  padding: 1% 26% 0% 26%;
}

h1 {
  color: #007BFF;
  text-shadow: -2px 2px 2px #113;
}

footer {
  font-style: italic;
  color: #007BFF;
  font-size: smaller;
  padding: 0px 26% 0% 26%;
}

.tooltipo {
  position: relative;
  display: inline-block;
  border: 0px dotted black;
  padding: 5px;
  background-color: #007BFF;
  border-radius: 5px;
  color: #FFF;
  width: 100%;
  text-align: center;

}

.tooltipo .tooltiptexto {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #eee;
  text-align: left;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltipo:hover .tooltiptexto {
  visibility: visible;
}

.button-cell {
  width: 10%;
}